.pagination {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 50px;
    align-items: center;

    &__next,
    &__previous,
    &__space {
        color: black;
        padding: 8px 16px;
        transition: background-color .3s;
        cursor: pointer;
        border-radius: 0.5rem;
        margin: 0 1rem 1rem 0;
        border: 1px solid #B9B9B9;

    }

    div:hover {
        background-color: #ddd;
    }

    &__previous:after {
        content: " »";
    }

    &__next::before {
        content: "«  ";
    }

    &__off {
        pointer-events: none;
        background-color: #ddd;
        transition: background-color .3s;
        padding: 8px 16px;
        border-radius: 0.5rem;
        margin: 0 1rem 1rem 0;
        border: 1px solid #B9B9B9;
    }
}