@import '../../Styles/responsive';

.display {
    @include desktop {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 32%;
        min-height: calc(100vh - 270px);
    }
}