@import '../../Styles/responsive';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;


    &__logo {
        height: fit-content;
        margin-top: 113px;
    }

    &__logoSvg {
        width: 156px;
        height: 23.19px;
    }

    &__display {
        max-height: 152px;
        max-width: 271px;
        padding: 0;
        margin-top: 1.81px;
        margin-bottom: 50px;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        display: block
    }

    &__display-welcome {
        width: 60%;
        margin: 0;
        text-align: center;
    }

    &__welcome-text {
        width: 295px;
        //height: 60px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        //line-height: 30px;
        text-align: center;
        margin: 0;
    }

    &__display-text {
        margin-top: 20px;
        margin-bottom: 140px;
        width: 72%;
    }

    &__explain-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */
        text-align: center;
        margin: 0;
    }
}

.background {
    height: 100vh;
    position: relative;
    background-image: url('../../assets/rnmBackground.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 23% 31%;
    filter: brightness(0.2);
}

@include desktop {
    .container {

        &__logo {
            height: fit-content;
            margin-top: 238px;
        }

        &__logoSvg {
            width: 260px;
            height: 38.65px;
        }

        &__display {
            max-height: 649px;
            max-width: 504px;
            padding: 0;
            margin-top: -74.19px;
            margin-bottom: -61px;
        }

        &__img {
            max-width: 100%;
            max-height: 100%;
            display: block
        }

        &__display-welcome {
            width: 100%;
            margin: 0;
            text-align: center;
        }

        &__welcome-text {
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 400;
            line-height: 49px;
            letter-spacing: 0em;
            text-align: center;
            margin: 0;
        }

        &__display-text {
            margin-top: 20px;
            margin-bottom: 19px;
            width: 49%;
        }

        &__explain-text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            /* or 24px */
            text-align: center;
            margin: 0;
        }

    }

    .background {
        background-size: 114%;
        background-position: -125px 25%;
    }
}