@import '../../Styles/responsive';

.filter {
    overflow: hidden;
    display: flex;
    flex-direction: row;

    &__link {
        text-align: center;
        text-decoration: none;
        font-size: 17px;
    }

    &__link:hover {
        background-color: #ddd;
        color: black;

    }

    &__link:active {
        background-color: #04AA6D;
        color: white;
    }

    &__icon {
        display: none;
        height: 20%;
    }
}

@include mobile {
    .filter {

        &__container {
            display: none;
        }

        &__icon {
            float: right;
            display: block;
        }
    }

    .filter__open {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .open {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
    }

    .close {
        display: none;
    }
}

@include desktop {
    .filter, .filter__open {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;

        &__icon {
            display: none;
        }

        &__container, 
        .open {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}