@import '../../Styles/responsive';
@import '../../Styles/colors';

.mainButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    all:unset;
    padding: 12px 20px;
    gap: 10px;
    width: 127px;
    height: 46px;
    left: 20px;
    top: 20px;
    background: $button-color-primary;
    border-radius: 50px;
    color:$primary-color;
    font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
}