@import '../../Styles/responsive';
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 300px;
}

@include desktop {
.main{
    top: -60px;

}
}