@import '../../Styles/responsive';
@import '../../Styles/colors';

.card {
    flex: -1 1 25%;
            border: 1px solid #B9B9B9;
            border-radius: 10px;
            min-height: 10%;

    &__item {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 0.5rem;
        background-color: $primary-color;
        margin: 0 1rem 1rem 0;


        .photo {
            flex: 0 1 60%;
            border-bottom-left-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
            width: 151px;
            height: 151px;

            img {
                width: 100%;
                height: 100%;
                border-bottom-left-radius: 0.3rem;
                border-top-left-radius: 0.3rem;
                z-index: 3;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            flex: 0 1 60%;
            position: relative;
            padding: 0 0 0 1rem;

            &__head {
                padding: 1rem 0 0 0;
                width: auto;
                max-width: 150px;

                .title {
                    margin: 0 0 0.5rem 0;
                    max-width: 125px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;


                    color: #000000;

                    span {
                        font-family: Roboto;
                        font-size: 1rem;
                        color: #000000;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 0.25rem;

                    &__status {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.25rem;

                        .dot {
                            width: 7px;
                            height: 7px;
                            background-color: #000;
                            border-radius: 50%;
                        }

                        span {
                            font-family: Roboto;
                            font-size: 0.8rem;
                            color: #000000;
                            opacity: 0.9;
                        }
                    }
                }
            }

            &__body {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 15px;
                color: #515151;

                span {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    color: #000000;
                }
            }

            &__foot {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 15px;
                color: #515151;

                .title {
                    margin: 0 0 0.25rem 0;

                    span {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 15px;
                        color: #515151;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: row;
                    gap: 0.25rem;

                    span {
                        font-family: Roboto;
                        font-size: 0.8rem;
                        color: #fff;
                    }
                }
            }

            &__favorite {
                position: absolute;
                top: 0;
                right: 0;
                margin: 1rem 1rem 0 0;
                background-color: #fff;
                padding: 0.5rem;
                border-radius: 50%;
                display: none;
                align-items: center;
                justify-content: center;

                img {
                    width: 25px;
                    height: 25px;
                }

                &:hover {
                    cursor: pointer;

                    img {
                        opacity: 1 !important;
                        filter: grayscale(0) !important;
                    }
                }
            }
        }

        &:hover {
            border: 3px solid #fff;
            padding: 0;

            .content__favorite {
                display: flex !important;
            }
        }
    }
}


@include mobile {
.card {
        width: 363px;
        height: 170px;
        margin-bottom: 25px;

        &__Item {
            display: flex;
            flex-direction: row;
            border-radius: 0.5rem;
            background-color: $primary-color;
            margin: 0 1rem 1rem 0;
            border: 1px solid #B9B9B9;
            min-height: 200px;
        }

        .photo {
            flex: 0 1 60%;
            border-bottom-left-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
            min-height: 170px;
        }
    }
}

@include desktop {
    .card {
        width: 363px;
        height: 170px;
        margin-bottom: 75px;

        &__Item {
            display: flex;
            flex-direction: row;
            border-radius: 0.5rem;
            background-color: $primary-color;
            margin: 0 1rem 1rem 0;
            border: 1px solid #B9B9B9;
            min-height: 200px;
        }

        .photo {
            flex: 0 1 60%;
            border-bottom-left-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
            min-height: 170px;
        }
    }
}