@import '../../Styles/responsive';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    &__img {
        margin-top: 20px;
    }

    &__logo {
        width: 245.58px;
        max-width: 100%;
        height: 138px;
        max-height: 100%;
        display: block
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 91px;
        margin-top: 3%;
        background: #081F32;
        box-shadow: 0px 4px 9px rgba(38, 38, 38, 0.1);
        z-index: 2;
        position: absolute;
        top: 195px;
    }

    &__filter {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        padding: 0 20%;
        height: 70%;
    }

    &__background {
        height: 100%;
        width: 100%;
        background-image: url('../../assets/rnmBackground.png');
        background-repeat: no-repeat;
        background-size: 250%;
        filter: brightness(0.2);
        background-position: 12% 44%;
    }
}

@include desktop {
    .header {
        &__background {

            background-size: 100%;
            background-position: 0% 40%;
        }

        &__nav {
            justify-content: center;
            top: 160px;

        }

        &__filter {
            position: unset;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}