.footer {
    height: 150px;
    width: 100%;

    &__background {
        height: 100%;
        width: 100%;
        background-image: url('../../assets/rnmBackground.png');
        background-repeat: no-repeat;
    background-size: 109%;
        filter: brightness(0.2);
        background-position: 50% 73%;
    }
}