@import './Styles/colors';

body {
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color;
}

code {
  font-family: 'Montserrat',sans-serif;
  color: $primary-color;
}
